In [1]:
pip install nltk chardet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: chardet in c:\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: tqdm in c:\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in c:\anaconda3\lib\site-packages (from nltk) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in c:\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: click in c:\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in c:\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity
import pickle
import nltk
import chardet
from nltk.stem.porter import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer
from function import preprocess

In [3]:
enc=preprocess.print_encoding('ex.csv')
enc

'Windows-1252'

In [4]:
df=pd.read_csv('ex.csv',encoding='Windows-1252')
print(df.shape)
df.sample(4)

(2420, 5)

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
2123,Jai Govinda Jai Gopala,Neeraj Shridhar,BollywoodDance,Bullett Raja,9.3/10
1307,Saawli Saloni Teri,"Alka Yagnik, Kumar Sanu",BollywoodRomantic,Hum Sub Chor Hain,8.7/10
1359,"Gori Ka Sajan, Sajan Ki Gori","Mohammad Aziz, S. Janaki",BollywoodDance,Aakhree Raasta,8.6/10
500,Nazar Se Nazar Mile,Rahat Fateh Ali Khan,BollywoodRomantic,Bollywood HeightsMiley Naa Miley Hum,9.2/10

In [5]:
df.isnull().mean()

Song-Name         0.000000
Singer/Artists    0.004132
Genre             0.000000
Album/Movie       0.001240
User-Rating       0.000000
dtype: float64

In [6]:
df.dropna(inplace=True)
print(df.shape)
df.sample(4)

(2407, 5)

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
117,Selfish,"Atif Aslam, Iulia Vantur",BollywoodRomantic,Race 3,6.8/10
1277,Mere Rang Mein Rangne Wali,"Asad Bhopali, S.P. Balasubrahmanyam",BollywoodRomantic,Maine Pyar Kiya,8.9/10
1334,Baatein Ye Kabhi Na (Female),Palak Muchhal,BollywoodRomantic,Khamoshiyan,9.5/10
2214,Dil Ka Qaraar,"Shraddha Pandit, Sonu Nigam",BollywoodRomantic,Sangharsh,9.3/10

In [7]:
df['Singer/Artists']=df['Singer/Artists'].apply(preprocess.convert)
df['Genre']=df['Genre'].apply(preprocess.convert)
df['Album/Movie']=df['Album/Movie'].apply(preprocess.convert)

In [8]:
df.sample(4)

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
1513,Hum To Tere Aashiq Hain,"[LataMangeshkar, Mukesh]",[BollywoodRomantic],[Farz],8.4/10
1053,Koi Ladki Hai,"[LataMangeshkar, UditNarayan]",[BollywoodDance],[DilToPagalHai],8.9/10
1207,Bhanware Ne Khilaya Phool,"[LataMangeshkar, SureshWadkar]",[BollywoodDance],[PremRog],7.5/10
1537,Har Dil Jo Pyar Karega,"[LataMangeshkar, MahendraKapoor, Mukesh]",[BollywoodDance],[Sangam],8.7/10

In [9]:
df['User-Rating']=df['User-Rating'].apply(preprocess.convert2)

In [10]:
df.sample(4)

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating
1448,Satarangi Re,"[KavitaKrishnamurthy, SonuNigam]",[BollywoodDance],[DilSe],[9.4]
693,Behka,[VibhaSaraf],[BollywoodDance],[HighJack],[9.5]
315,Ki Kariye Nachna Aaonda Nahin,"[HardySandhu, NehaKakkar, Raftaar]",[BollywoodDance],[TumBin2],[9.0]
1443,Laal Ishq,[ArijitSingh],[BollywoodSad],[GoliyonKiRasleelaRam-leela],[9.5]

In [11]:
df['tags']=df['Singer/Artists']+df['Genre']+df['Album/Movie']+df['User-Rating']

In [12]:
df.sample(4)

,Song-Name,Singer/Artists,Genre,Album/Movie,User-Rating,tags
2286,Tumhen Pa Ke Humne Jahan Pa Liya,"[AshaBhosle, MohammedRafi]",[BollywoodRomantic],[GehraDaag],[8.6],"[AshaBhosle, MohammedRafi, BollywoodRomantic, ..."
728,Anarkali Disco Chali,"[MamtaSharma, SukhwinderSingh]",[BollywoodDance],[Housefull2],[8.8],"[MamtaSharma, SukhwinderSingh, BollywoodDance,..."
1790,Seena Pada,"[ShreyaGhoshal, UditNarayan]",[BollywoodSad],[Saaya],[9.1],"[ShreyaGhoshal, UditNarayan, BollywoodSad, Saa..."
2390,Nazar Mein Hai Chehra,[LuckyAli],[BollywoodDance],[GoodLuck],[9.5],"[LuckyAli, BollywoodDance, GoodLuck, 9.5]"

In [13]:
df=df.drop(columns=['Singer/Artists','Genre','Album/Movie','User-Rating'])

In [14]:
df.sample(4)

,Song-Name,tags
1939,Main Hoon Deewana Tera,"[Anjjan, ArijitSingh, MeetBros, BollywoodDance..."
1114,Albela Sajan,"[KanikaJoshi, KunalPandit, PrithviGandharva, R..."
1503,Zinda,"[SunidhiChauhan, Bollywood, NaamShabana, 9.6]"
883,Kasam Ki Kasam,"[K.S.Chithra, Shaan, BollywoodRomanticSad, Mai..."

In [15]:
df['tags'] = df['tags'].apply(lambda x: " ".join(x))

In [16]:
df.head()

          Song-Name                                               tags
1       Aankh Marey  KumarSanu MikaSingh NehaKakkar BollywoodDance ...
2         Coca Cola  NehaKakkar TonyKakkar BollywoodDanceRomantic L...
3  Apna Time Aayega           RanveerSingh BollywoodDance GullyBoy 9.7
4            Mungda  JyoticaTangri Shaan SubhroGanguly BollywoodDan...
5          Tere Bin  AseesKaur RahatFatehAliKhan TanishkBagchi Boll...

In [17]:
df['tags']=df['tags'].apply(preprocess.stem)

In [18]:
df.sample(4)

,Song-Name,tags
1050,Safarnama,luckyali bollywoodd tamasha 9.5
1521,Rabba Main Toh Mar Gaya Oye,shahidmallya bollywoodromant mausam 9.6
1300,Aise Na Mujhe Tum Dekho,kishorekumar bollywoodromant darlingdarl 9.3
721,Black Jama Hai,sukhwindersingh bollywood raid 9.3

In [19]:
df.loc[1, 'tags']

'kumarsanu mikasingh nehakakkar bollywoodd simmba 8.8'

In [20]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [21]:
vector = cv.fit_transform(df['tags']).toarray()

In [22]:
vector.shape

(2407, 1696)

In [23]:
words=cv.get_feature_names_out()

In [24]:
words

array(['09', '10', '13', ..., 'zindaginamilegidobara',
       'zindagiyehzindagi', 'zubeengarg'], dtype=object)

In [25]:
similarity = cosine_similarity(vector)

In [26]:
similarity.shape

(2407, 2407)

In [27]:
preprocess.recommend(df,similarity,'Pyar De Pyar Le')

Gali Gali
O Janiya
Morni Banke
Cheez Badi
Aashiq Banaya Aapne

In [28]:
pickle.dump(df,open('Song_List.pkl','wb'))
pickle.dump(similarity,open('Similarity.pkl','wb'))